* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  /* color: white; */
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 40%;
  margin: 0 auto;
  animation: logoShow 3s;
}

@keyframes logoShow {
  0% {
    transform: scale(1) translateY(0);
  }

  25% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(2) translateY(100px);
  }

  75% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

h1 {
  padding-top: 20px;
  text-align: center;
}

button {
  display: block;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
  transform: scale(1);
  transition: .3s;
}

button:hover:not(:disabled) {
  background-color: #123456;
  color: white;
}

/* compare section */

.compare-section {
  margin-top: 30px;
  width: 100%;
}

.compare-section>p {
  text-align: center;
}

.compare-section>p:first-of-type>span {
  font-weight: bold;
}

.compare-section__pokemon-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.compare-section__vs,
.compare-pokemon__vs {
  font-size: 30px;
  font-weight: bold;
}

.compare-section__single-compare-pokemon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 30%;
  min-width: 210px;
}

.compare-section__single-compare-pokemon button {
  margin: 0 10px;
  width: 80px;
}

.compare-section__single-compare-pokemon button:disabled {
  transform: scale(0);
}

.compare-section__single-compare-pokemon:first-of-type {
  flex-direction: row-reverse;
}

.compare-section__single-compare-pokemon p {
  font-size: 20px;
  font-weight: bold;
}

.compare-section__buttons-see-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.compare-section__buttons-see-clear>button {
  width: 200px;
}

/* main section */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* searcher section */

.main__searcher {
  width: 80%;
  font-size: 20px;
  height: 36px;
  padding: 0 5px;
  margin: 30px 10% 20px;
}

/* table section */

.main__table {
  border-spacing: 8px;
  text-align: center;
}

.main__table tbody {
  width: 100%;
}

.main__table-name td {
  font-weight: bold;
}

.main__table tr {
  background-color: lightgray;
}

.main__table td {
  padding: 10px;
}


td:nth-child(1) {
  width: 120px;
}

.main__pokemon-types {
  cursor: pointer;
  width: 100px;
}

td:nth-child(3) {
  width: 800px
}

.main__pokemon-types>ul {
  list-style: none;
}

.main__pokemon-types>ul span {
  cursor: pointer;
}


.main__buttons {
  width: 150px;
  height: 138px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.main__buttons>button {
  width: 100px;
}


/* modals */

.pokemon-details label,
.pokemon-details input,
.pokemon-details textarea,
.compare-pokemon_wrapper label,
.compare-pokemon_wrapper input,
.compare-pokemon_wrapper textarea {
  font-size: 20px;
}

.pokemon-details input,
.pokemon-details textarea,
.compare-pokemon_wrapper textarea,
.compare-pokemon_wrapper input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: black;
}

.pokemon-details textarea,
.compare-pokemon_wrapper textarea {
  resize: none;
  height: 150px;
  width: 100%;
  padding: 0 5px;
}

/* modals button */

jw-modal button {
  margin-top: 20px;
  width: 100px;
}

/* pokemon compare modal section */

.compare-pokemon_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}


.compare-pokemon__first-pokemon,
.compare-pokemon__second-pokemon {
  max-width: 520px;
}

.compare-pokemon__first-pokemon-photo>img,
.compare-pokemon__second-pokemon-photo>img {
  transform: scale(2);
}


.pokemon-details>div,
.compare-pokemon__first-pokemon>div,
.compare-pokemon__second-pokemon>div {
  display: flex;
  margin-top: 10px;
}

.compare-pokemon__vs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-details label,
.compare-pokemon__first-pokemon label,
.compare-pokemon__second-pokemon label {
  width: 140px;
}

#custom-modal-3 button,
#custom-modal-2 button {
  margin: 20px auto;
}

/* details modal section */

.pokemon-details__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pokemon-details__image>img {
  transform: scale(2);
}

/* footer */

footer {
  margin-top: 20px;
  background-color: #000;
  min-height: 40px;
}

footer>p {
  color: white;
  text-align: center;
  line-height: 40px;
}

/* pagination */
.my-pagination /deep/ .ngx-pagination .current {
  background: #123456;
}

@media (max-width: 500px) {

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    border-radius: 10px;
    transform: scale(1);
    transition: .3s;
  }

  .compare-section__pokemon-view {
    flex-direction: column;
    height: auto;
  }

  .compare-section__single-compare-pokemon:first-of-type {
    flex-direction: row;
    justify-content: space-between;
  }

  .main__table td:nth-child(2) {
    display: none;
  }

  .main__table td {
    width: fit-content;
    font-size: 14px;
    padding: 0;
  }

  .compare-section__single-compare-pokemon p {
    font-size: 16px;
    font-weight: bold;
  }

  .compare-section__vs,
  .compare-pokemon__vs {
    font-size: 18px;
    font-weight: bold;
  }


  .main__buttons>button {
    font-size: 14px;
    width: 65px;
    margin: 0 4px;
  }

}

@media (max-width: 800px) {
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    border-radius: 10px;
    transform: scale(1);
    transition: .3s;
  }

  .compare-section__pokemon-view {
    height: auto;
  }

  .compare-section__single-compare-pokemon:first-of-type {
    justify-content: space-between;
  }

  .main__table td {
    width: fit-content;
    font-size: 14px;
    padding: 0;
  }

  .compare-section__single-compare-pokemon p {
    font-size: 16px;
    font-weight: bold;
  }

  .compare-section__vs,
  .compare-pokemon__vs {
    font-size: 18px;
    font-weight: bold;
  }


  .main__buttons>button {
    font-size: 14px;
    width: 65px;
    margin: 0 4px;
  }

  .main__searcher {
    font-size: 14px;
    height: 30px;
    padding: 0 5px;
    margin: 15px 10px;
  }
}

@media (max-width:950px) {

  .pokemon-details__wrapper,
  .compare-pokemon_wrapper {
    flex-direction: column;
    margin-bottom: 0;
  }

  .pokemon-details label,
  .compare-pokemon__first-pokemon label,
  .compare-pokemon__second-pokemon label {
    width: auto;
    padding-right: 2px;
  }

}

@media (max-width: 1100px) {

  .pokemon-details label,
  .pokemon-details input,
  .pokemon-details textarea,
  .compare-pokemon_wrapper label,
  .compare-pokemon_wrapper input,
  .compare-pokemon_wrapper textarea,
  .pokemon-details input,
  .pokemon-details textarea,
  .compare-pokemon_wrapper textarea,
  .compare-pokemon_wrapper input,
  jw-modal button {
    font-size: 14px;
  }

  .pokemon-details textarea,
  .compare-pokemon_wrapper textarea {
    resize: none;
    height: 70px;
    width: 100%;
    padding: 0 5px;
  }

  /* modals button */

  jw-modal button {
    width: 70px;
  }

}

@media (max-width: 1300px) {

  .compare-pokemon__first-pokemon-photo>img,
  .compare-pokemon__second-pokemon-photo>img {
    transform: scale(1);
  }
}
