<div class="wrapper">
  <div class="logo-container">
    <img class="logo" src="/assets/img/Pokemon-Logo.png" alt="image-logo">
  </div>
  <h1>Wybierz 2 Pokemony do porównania</h1>

  <div class="compare-section">
    <p>Ilość Pokemonów potrzebnych do porównania: <span>{{2 - pokemonsToCompare.length }}</span></p>
    <p>Wybrano do porównania:</p>
    <div class="compare-section__pokemon-view">
      <div class="compare-section__single-compare-pokemon">
        <p>{{ pokemonsToCompare[0]?.name | titlecase }}</p>
        <button (click)='pokemonsToCompare.shift()' [disabled]="pokemonsToCompare.length < 1">Skasuj</button>
      </div>
      <div class="compare-section__vs">
        <p>VS</p>
      </div>
      <div class="compare-section__single-compare-pokemon">
        <p>{{ pokemonsToCompare[1]?.name | titlecase }}</p>
        <button (click)='pokemonsToCompare.pop()' [disabled]="pokemonsToCompare.length < 2">Skasuj</button>
      </div>
    </div>

    <div class="compare-section__buttons-see-clear">
      <button (click)="openModal('custom-modal-2')" [disabled]="pokemonsToCompare.length < 2">Pokaż porównanie</button>
      <button class="pokemon-list__pokemon-compare-button" (click)='pokemonsToCompare.length = 0'
        [disabled]="pokemonsToCompare.length === 0">Skasuj
        porównanie</button>
    </div>

  </div>

  <div class="main">
    <input type="text" class="main__searcher" placeholder="Wprowadź nazwę Pokemona" (keyup)='onKeyUp($event)'>

    <table class="main__table">
      <tbody>
        <tr class="main__table-name">
          <td>Nazwa</td>
          <td>Rodzaj</td>
          <td>Opis</td>
          <td>Akcja</td>
        </tr>
        <tr
          *ngFor='let pokemon of pokemonsList | paginate: { itemsPerPage: 5, currentPage: page, totalItems:totalLength }'>
          <td>
            {{ pokemon.name | titlecase }}
          </td>
          <td class="main__pokemon-types">
            <ul
              (click)="openModal('custom-modal-1'); pokemonInfo(pokemon.name, pokemon.types.join(', '), pokemon.height, pokemon.weight, pokemon.description)">
              <li>{{ pokemon.types[0] }}</li>
              <li><span> {{ pokemon.types.length > 1 ? pokemon.types.length-1 : ''  }}</span></li>
            </ul>
          </td>
          <td>
            {{ pokemon.description }}
          </td>
          <td class="main__buttons">
            <button class="pokemon-list__pokemon-details-button"
              (click)='openModal("custom-modal-3"); pokemonInfo(pokemon.name, pokemon.types.join(", "), pokemon.height, pokemon.weight, pokemon.description)'>Szczegóły</button>
            <button class="pokemon-list__pokemon-compare-button" [disabled]="pokemonsToCompare.length == 2" (click)='createPokemon(pokemon.name, pokemon.types.join(", "), pokemon.height, pokemon.weight,
            pokemon.description)'>Porównaj
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
  </div>
  <footer>
    <p> {{ getDate() | date: 'yyyy' }} {{ footer }} </p>
  </footer>
</div>


<!-- Modals -->

<jw-modal id="custom-modal-1">
  <div> {{ pokemonDetails[0]?.types }} </div>
  <button (click)="closeModal('custom-modal-1'); pokemonDetails.splice(0,1)">Zamknij</button>
</jw-modal>

<jw-modal id="custom-modal-2">
  <div class="compare-pokemon_wrapper">
    <div class="compare-pokemon__first-pokemon">
      <div>
        <label for="name">Nazwa:</label>
        <input id="name" type="text" value="{{ pokemonsToCompare[0]?.name | titlecase}}" readonly>
      </div>

      <div>
        <label for="types">Rodzaj:</label>
        <input id="types" type="text" value="{{ pokemonsToCompare[0]?.types}}" readonly>
      </div>

      <div>
        <label for="height">Wysokość:</label>
        <input id="height" type="text" value="{{ pokemonsToCompare[0]?.height }} m" readonly>
      </div>

      <div>
        <label for="weight">Waga:</label>
        <input id="weight" type="text" value="{{ pokemonsToCompare[0]?.weight }} kg" readonly>
      </div>

      <div>
        <label for="description">Opis:</label>
        <textarea id="description" readonly>{{ pokemonsToCompare[0]?.skills }}</textarea>
      </div>
    </div>

    <div class="compare-pokemon__vs">
      <p>VS</p>
    </div>

    <div class="compare-pokemon__second-pokemon">
      <div>
        <label for="name">Nazwa:</label>
        <input id="name" type="text" value="{{ pokemonsToCompare[1]?.name | titlecase}}" readonly>
      </div>

      <div>
        <label for="types">Rodzaj:</label>
        <input id="types" type="text" value="{{ pokemonsToCompare[1]?.types}}" readonly>
      </div>

      <div>
        <label for="height">Wysokość:</label>
        <input id="height" type="text" value="{{ pokemonsToCompare[1]?.height }} m" readonly>
      </div>

      <div>
        <label for="weight">Waga:</label>
        <input id="weight" type="text" value="{{ pokemonsToCompare[1]?.weight }} kg" readonly>
      </div>

      <div>
        <label for="description">Opis:</label>
        <textarea id="description" readonly>{{ pokemonsToCompare[1]?.skills }}</textarea>
      </div>
    </div>
  </div>
  <button (click)="closeModal('custom-modal-2'); pokemonsToCompare.length = 0">Zamknij</button>
</jw-modal>


<jw-modal id="custom-modal-3">
  <div class="pokemon-details">
    <div>
      <label for="name">Nazwa:</label>
      <input id="name" type="text" value="{{ pokemonDetails[0]?.name | titlecase }}" readonly>
    </div>

    <div>
      <label for="types">Rodzaj:</label>
      <input id="types" type="text" value="{{ pokemonDetails[0]?.types}}" readonly>
    </div>

    <div>
      <label for="height">Wysokość:</label>
      <input id="height" type="text" value="{{ pokemonDetails[0]?.height }} m" readonly>
    </div>

    <div>
      <label for="weight">Waga:</label>
      <input id="weight" type="text" value="{{ pokemonDetails[0]?.weight }} kg" readonly>
    </div>

    <div>
      <label for="description">Opis:</label>
      <textarea id="description" readonly>{{ pokemonDetails[0]?.skills }}</textarea>
    </div>
  </div>
  <button (click)="closeModal('custom-modal-3'); pokemonDetails.splice(0,1)">Zamknij</button>
</jw-modal>
