<div class="wrapper">
  <h1>Wybierz 2 Pokemony do porównania</h1>

  <div>
    <p>Wybrano do porównania:</p>
    <ol>
      <li>
        <p>{{ pokemonsToCompare[0]?.name }}</p>
        <button (click)='pokemonsToCompare.shift()' [disabled]="pokemonsToCompare.length < 1">Skasuj</button>
      </li>
      <li>
        <p>{{ pokemonsToCompare[1]?.name }}</p>
        <button (click)='pokemonsToCompare.pop()' [disabled]="pokemonsToCompare.length < 2">Skasuj</button>
      </li>
    </ol>
    <button (click)="openModal('custom-modal-2')" [disabled]="pokemonsToCompare.length < 2">Pokaż porównanie</button>
    <button class="pokemon-list__pokemon-compare-button" (click)='clearCreatePokemon("", "", "", "", "")'
      [disabled]="pokemonsToCompare.length === 0">Skasuj
      porównanie</button>

  </div>

  <input type="text" class="searcher__input" placeholder="Wprowadź nazwę Pokemona" (keyup)='onKeyUp($event)'>

  <table>
    <tbody>
      <!-- <tr>
        <td>Name</td>
        <td>Types</td>
        <td>Description</td>
        <td>Action</td>
      </tr> -->
      <tr
        *ngFor='let pokemon of pokemonsList | paginate: { itemsPerPage: 15, currentPage: page, totalItems:totalLength }'>
        <jw-modal id="custom-modal-3">
          <div class="pokemon-details" *ngFor='let pokemon of pokemonsList'>
            <div>
              <label for="name">Name:</label>
              <input id="name" type="text" value="{{ pokemon.name}}" readonly>
            </div>

            <div>
              <label for="types">Types:</label>
              <input id="types" type="text" value="{{ pokemon.types}}" readonly>
            </div>

            <div>
              <label for="height">Height:</label>
              <input id="height" type="text" value="{{ pokemon.height }} m" readonly>
            </div>

            <div>
              <label for="weight">Weight:</label>
              <input id="weight" type="text" value="{{ pokemon.weight }} kg" readonly>
            </div>

            <div>
              <label for="description">Description:</label>
              <textarea id="description" readonly>{{ pokemon.description }}</textarea>
            </div>
          </div>
          <button (click)="closeModal('custom-modal-3')">Zamknij</button>
        </jw-modal>
        <td>
          {{ pokemon.name }}
        </td>
        <td>
          <ul (click)="openModal('custom-modal-1')">
            <li>{{ pokemon.types[0] }}</li>
            <li><span> {{ pokemon.types.length > 1 ? pokemon.types.length-1 : ''  }}</span></li>
          </ul>
          <jw-modal id="custom-modal-1">
            <div> {{ pokemon.types.join(", ") }}</div>
            <button (click)="closeModal('custom-modal-1');">Zamknij</button>
          </jw-modal>
        </td>
        <td>
          {{ pokemon.description }}
        </td>
        <td>
          <button class="pokemon-list__pokemon-details-button" (click)="openModal('custom-modal-3')">Szczegóły</button>
          <button class="pokemon-list__pokemon-compare-button" [disabled]="pokemonsToCompare.length == 2" (click)='createPokemon(pokemon.name, pokemon.types.join(", "), pokemon.height, pokemon.weight,
            pokemon.description)'>Porównaj
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>

</div>

<jw-modal id="custom-modal-2">
  <div class="compare-pokemon__first-pokemon">
    <div>
      <label for="name">Name:</label>
      <input id="name" type="text" value="{{ pokemonsToCompare[0]?.name}}" readonly>
    </div>

    <div>
      <label for="types">Types:</label>
      <input id="types" type="text" value="{{ pokemonsToCompare[0]?.types}}" readonly>
    </div>

    <div>
      <label for="height">Height:</label>
      <input id="height" type="text" value="{{ pokemonsToCompare[0]?.height }} m" readonly>
    </div>

    <div>
      <label for="weight">Weight:</label>
      <input id="weight" type="text" value="{{ pokemonsToCompare[0]?.weight }} kg" readonly>
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea id="description" readonly>{{ pokemonsToCompare[0]?.skills }}</textarea>
    </div>
  </div>

  <div class="compare-pokemon__second-pokemon">
    <div>
      <label for="name">Name:</label>
      <input id="name" type="text" value="{{ pokemonsToCompare[1]?.name}}" readonly>
    </div>

    <div>
      <label for="types">Types:</label>
      <input id="types" type="text" value="{{ pokemonsToCompare[1]?.types}}" readonly>
    </div>

    <div>
      <label for="height">Height:</label>
      <input id="height" type="text" value="{{ pokemonsToCompare[1]?.height }} m" readonly>
    </div>

    <div>
      <label for="weight">Weight:</label>
      <input id="weight" type="text" value="{{ pokemonsToCompare[1]?.weight }} kg" readonly>
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea id="description" readonly>{{ pokemonsToCompare[1]?.skills }}</textarea>
    </div>
  </div>
  <button (click)="closeModal('custom-modal-2'); clearCreatePokemon('', '', '', '', '')">Zamknij</button>
</jw-modal>
